
body, html {
  height: 100%;
  width: 100%;
  color: white;	
  font-family: 'Roboto', sans-serif;
}

header{
    padding: 16px 0;
    color:#0bca5f;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap !important;
    align-content: flex-start;
    font-family: 'Notable', sans-serif;
   /* font-family: 'Roboto', sans-serif; */
    width: 100%;
    font-size: 6vw;
  }
.body2{
  height: 100vh;
  width: 100%;
  background-color: #00000073;
  overflow-y: scroll;

}
.input-group{
	margin: 1em auto;
	max-width: 500px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.body1{
    text-align: center;
     background-image: url(night.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 2s;
    height: 100vh;
    width: 100%;
    /* overflow-y: scroll; */
  }
.temp{
	font-size: 7vw;
}
.description{
	font-size: 4vw;
}
.switch-btn{
	font-size: 4vw;
}
.city-name{
	letter-spacing: 4px;
	text-transform: uppercase;
}
#icon{
	font-size: 2vw;
  margin-top: 0px;
}
.weather-info{
	display: none;
}
.bg-img{
  
  height: 100px;
  width: 100px;
}
/*.row div{
  border: 1px solid black;
}*/

.col-sm{
  min-width: 250px;
  /*max-width: 250px;*/
  border: 1px solid black;
}
.temp-range{
  font-size: 2vw;
}
#search-btn{
  color: #0bca5f;
}